div{
    width: 200px;
    height: 200px;
    background-color: rgb(139, 85, 19);
    margin: 0 auto;
    transition-duration:1.9s;
    margin-top: 10px;
    
}
div:hover{
    background-color: blueviolet;
    border-radius: 50%;
    margin-top: 400px;
}